/* CSS RESETS ========================================= */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* COLORS  ===========================================*/
.underlineColors {
    color: linear #FFD0A8, #FF4FC0;
}

.backgroundAndFontColors {
    background-color: #fff;
    background-color: #C4C4C4;
    background-color: #8A8A8A;
    background-color: #050A3A;
}

/*  FONT PROPERTIES ==================================== */

html,
body {
    /* font-size == 10px */
    font-size: 62.5%;
}

html,
h1,
h2,
h3,
h4,
h6 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    color: #050A3A;
}

h1 {
    font-size: 8rem;
    line-height: 10rem;
}

h2 {
    font-size: 6rem;
    line-height: 8rem;
    color: #050A3A;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 3.5rem;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    color: #8A8A8A;
}

a {
    text-decoration: none;
    font-size: 2.5rem;
    color: #050A3A;
    position: relative;
}

/* NAVIGATION =================================== */

.custom-logo-link {
    padding-bottom: 0.5rem;
}

.expanded {
    background-image: linear-gradient(to left, rgb(255, 236, 220), rgb(255, 185, 229));
}

.expanded i,
.expanded ul li,
.expanded a {
    color: #050A3A;
    font-size: 3.5rem;
    list-style: none;
}

#search .nav-search {
    font-size: 1rem;
    padding-bottom: 0.2rem;
    width: 10vw;
}

/* short-NAV */
.short-nav ul li,
.short-nav a {
    display: inline;
    padding-right: 1rem;
    font-size: 2rem;
    list-style: none;
    color: #050A3A;
    position: relative;
}

.tag i {
    font-size: 2rem;
}

/* for NAV ANIMATION =========================================== */
.expanded {
    top: 2rem;
    width: 100%;
    position: fixed;
    transition: 0.5s;
    left: 100%;
}


/* FOOTER =================================== */
footer {
    background-image: linear-gradient(to left, rgba(255, 208, 168, 0.3), rgba(255, 79, 192, 0.3));
}

footer * {
    color: #050A3A;
    font-weight: 400;
    font-size: 2rem;
}


/*  HOVERS =========================================== */

a:hover::after {
    content: "";
    position: absolute;
    bottom: 0.2rem;
    left: 0;
    height: 0.3rem;
    width: 100%;
    background-image: linear-gradient(to left, rgba(255, 208, 168), rgba(255, 79, 192));
}

/* IMAGES ============================ */

.collapsed-nav img,
.fa-xmark {
    cursor: pointer;
}

.menu-icon {
    height: 2vh;
}

.expanded-logo {
    height: 4vh;
}

.img-wrapper {
    max-height: 90vh;
    overflow: hidden;
}

.right-img img {
    width: 80vw;
}

.left-img {
    width: 40vw;
}

.white-logo {
    width: 15rem;
}

.service-wrapper {
    max-height: 60vh;
    overflow: hidden;
}

.service-wrapper img {
    width: 100vw;
}

/* WP FORMS additional styling */

/*  BUTTONS ================================== */

button,
button#wpforms-submit-113.wpforms-submit,
#searchsubmit,
#s,
.form-submit .submit {
    font-size: 3rem;
    font-weight: 600;
    color: #050A3A;
    padding: 0;
    background-color: transparent;
    border: none;
}

#s {
    border-bottom: 3px solid #050A3A;
}

/*  After contact form submited */
.wpforms-confirmation-container-full.wpforms-confirmation-scroll {
    background: transparent;
    border: none;
}

.wpforms-confirmation-container-full.wpforms-confirmation-scroll p {
    color: #050A3A;
    font-weight: 600;
    padding: 2rem;
}

/* turns textarea rows and cols into css height and width if needed */
/* textarea {
    height: 40rem;
    width: 60vw;
} */

/* LAYOUTS ============================================== */

/* layout ABOUT ============= */

.about * {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.about .container.text-start {
    width: 70vw;
    padding: 6rem;
}

.about-text-right {
    width: 50vw;
}

.we-vision-mission,
.services {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* layout TEAM =============== */

.team .row img {
    max-height: 35rem;
}

/* layout PARTNERS =================== */

.partners * {
    padding: 3.5rem;
}

/*  ceo, manager ========== */

.ceo *,
.manager * {
    padding-bottom: 0.2rem;
}

.container .search {
    font-size: 4rem;
}

/* layout FOOTER ==================== */
footer h4 {
    font-weight: 600;
}

/* .hidden {
    display: none;
} */

/* NEWS page ======================================= */
.post .media .container.blog-posts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 2rem;
    border-bottom: 2px solid rgb(255, 236, 220)
}

/* POSTS and COMMENTS =============================*/

.container.post-content {
    display: flex;
}

.logged-in-as span,
.comment-form-comment label {
    display: none;
}

.comment-form-comment textarea {
    border: none;
    border-bottom: 3px solid #050A3A;
    background: linear-gradient(to left, rgba(255, 208, 168, 0.2), rgba(255, 79, 192, 0.2));
}

.wrap {
    background-image: linear-gradient(to left, rgba(255, 208, 168, 0.3), rgba(255, 79, 192, 0.3));
}

/* MEDIA QUERIES ======================================== */


/* reponsive NAV for DESKTOP screen */
@media screen and (min-width: 1101px) {
    nav .menu-new-main-menu-container a {
        font-size: 3.5rem;
        font-weight: 600;
    }

    nav .container .menu-new-main-menu-container ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 4rem;
    }

    .menu-icon {
        display: none;
    }
}

/*  ~ tablet size */
@media screen and (max-width: 1100px) {

    h1,
    h2,
    h3 {
        font-size: 6rem;
    }

    h4,
    h5 {
        font-size: 4rem;
    }

    nav .container .menu-new-main-menu-container ul#menu-new-main-menu {
        display: none;
    }

    /* NAV ANIMATION =================================== */
    .expanded.active {
        left: 0;
        background-image: linear-gradient(to left, rgb(255, 236, 220), rgb(255, 185, 229));
        z-index: 99;
    }

    .we-vision-mission,
    .services {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .services img {
        max-width: 90vw;
    }

    .left-img {
        width: 70vw;
    }

    /* contact info in contact page */
    .container.d-flex.justify-content-end.p-5 {
        display: flex;
        flex-direction: column;
    }

    /* NEWS POSTS */
    .post .media .container.blog-posts {
        flex-direction: column;
    }

    .container.post-content img {
        display: none;
    }

    footer *,
    footer p {
        font-size: 1.5rem;
    }
}

/* ~ phone size*/
@media screen and (max-width: 600px) {

    h1,
    h2 {
        font-size: 4rem;
        line-height: 4rem;
    }

    h3 {
        font-size: 3rem;
    }

    h4,
    h5,
    h6 {
        font-size: 2rem;
    }

    p {
        font-size: 2rem;
    }

    .about .container.text-start,
    .about-text-right {
        width: 100vw;
    }

    .container.post-content {
        flex-direction: column;
    }
}